file_loaders/stairs_v1/textured.obj filter=lfs diff=lfs merge=lfs -text
static_3d/armadillo_midres.obj filter=lfs diff=lfs merge=lfs -text
static_3d/dragon.obj filter=lfs diff=lfs merge=lfs -text
static_3d/armadillo_lowres.obj filter=lfs diff=lfs merge=lfs -text
static_3d/bunny2.obj filter=lfs diff=lfs merge=lfs -text
static_3d/sphere.obj filter=lfs diff=lfs merge=lfs -text
robots/mini_cheetah/meshes/mini_abad.obj filter=lfs diff=lfs merge=lfs -text
robots/mini_cheetah/meshes/mini_body.obj filter=lfs diff=lfs merge=lfs -text
robots/mini_cheetah/meshes/mini_lower_link.obj filter=lfs diff=lfs merge=lfs -text
robots/mini_cheetah/meshes/mini_upper_link.obj filter=lfs diff=lfs merge=lfs -text
splats/point_cloud.ply filter=lfs diff=lfs merge=lfs -text
static_3d/porsche.ply filter=lfs diff=lfs merge=lfs -text
static_3d/stairs.ply filter=lfs diff=lfs merge=lfs -text
pixelnerf.ply filter=lfs diff=lfs merge=lfs -text
splats/input.ply filter=lfs diff=lfs merge=lfs -text
static_3d/dungeon.gltf filter=lfs diff=lfs merge=lfs -text
static_3d/engine.gltf filter=lfs diff=lfs merge=lfs -text
file_loaders/stairs_v1/textured.mtl filter=lfs diff=lfs merge=lfs -text
movies/disney.webm filter=lfs diff=lfs merge=lfs -text
splats/davison.splat filter=lfs diff=lfs merge=lfs -text
splats/garden_table.splat filter=lfs diff=lfs merge=lfs -text
